.btn {
  @extend .pointer;
  &-search {
    @extend .block;
    @extend .overflow-hidden;
    outline: none;
    @include rounded(2px);
    @include box-shadow(0, 1px, 4px, rgba(0, 0, 0, .6));
    @include color_block(orangered, $body-bg);
    @include set_transition(background-color .3s);
    margin: 10px 0;
    @extend .absolute;
    right: 5px;
    top:-5px;
    border:1px solid #ccc;
    &:hover {
      @include color_block(orangered, $body-bg);
    }
    &:focus {
      @include color_block(orangered, $body-bg);
    }
    &:before {
      content: " ";
      @extend .absolute;
      @extend .block;
      top: 50%;
      left: 50%;
      background-color: rgba(236, 240, 241, .3);
      @include set_translate(-50%, -50%);
      padding: 0;
      @include rounded(100%)
    }
  }
}