.homepage-hero{
  @extend .relative;
  background-image: url("/dist/img/bg_img.png");
  width:100%;
  height:100%;
  background-size:cover;
  &:before{
    content: "";
    @extend .absolute;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,0.4)
  }

}